# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
old
spigot_server/crash-reports
spigot_server/logs
spigot_server/world*
spigot_server/plugins/*
!spigot_server/plugins/*.jar
!spigot_server/plugins/MythicMobs/Mobs/*
!spigot_server/plugins/MythicMobs/Skills/*
!spigot_server/plugins/MythicMobs/RandomSpawns/*
!spigot_server/plugins/MythicMobs/config.yml
!spigot_server/plugins/LibsDisguises/configs/*

spigot_server/banned-ips.json
spigot_server/banned-players.json
spigot_server/usercache.json
spigot_server/whitelist.json
spigot_server/ops.json