# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
old
spigot_server/crash-reports
spigot_server/logs
spigot_server/world
spigot_server/world_nether
spigot_server/world_the_end
spigot_server/plugins/*
!spigot_server/plugins/*.jar
!spigot_server/plugins/MythicMobs/Mobs/*
!spigot_server/plugins/MythicMobs/Skills/*
!spigot_server/plugins/MythicMobs/config.yml
!spigot_server/plugins/LibsDisguises/configs/*